


/***********************************************/
/****************** 1 -> 400 ******************/
/***************  alasql    alasql   *********
// https://github.com/chicagocomputerclasses/alasql
******************************/

*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
html{
  height: 100%;
}
 @supports(padding: max(0px)){
      body {
        background-color: #232323;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
          padding-top:    env(safe-area-inset-top);
        padding-bottom: 20px; 
        padding-bottom: env(safe-area-inset-bottom); 
        min-height: 100svh;
        height: calc( 100% + env(safe-area-inset-bottom) );
         padding-bottom: constant(safe-area-inset-bottom); 
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -mz-user-select: none;
      }
}
@media(prefers-color-scheme: dark){
  :root{
    --status-bar-color:#000000;
  }
} 



.logo {
  z-index: 9;
}
.logo b {
  font: 400 15vh "Comic Neue", cursive;
  letter-spacing: -4px;
  color: #eef;
  text-shadow: 0 -20px 40px, 0 0 2px, 0 0 1em rgb(195, 246, 229),
    0 0 0.5em rgb(195, 246, 229), 0 0 0.1em rgb(195, 246, 229), 0 10px 3px #000;
}


.msghead{
  left: 0px;
  top: 0px;
  position: absolute;
  width: 15vw;
  height: 45px;
}

.notific{
  right: 0px;
  top: 0px;
  position: absolute;
  width: 15vw;
  height: 45px;
}










html,
body {
 
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  display:flex;
  color: skyblue;
  justify-content: center;
  align-items: center;
}
.vertical-nav {
    z-index: 10;
    border: none;
    position: fixed;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    bottom: 13vh;
 
}


.vertical-nav li ul > li {
  list-style: none;
  display: block;
  width: 100%;
  border-top: solid 0.5px transparent;
  text-align: center;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
 
  display: flex;
}


.imgHome{
    width: 90%;
    aspect-ratio: 1;
    background-color: #8e8e8e;
    border-radius: 50%;

}

.vertical-nav > li {
transition: all 2s;
    border-bottom: 0.1px solid #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5rem;
    list-style: none;
    margin-top: 4.5vh;
    width: 14vh;
    text-align: center;
    position: relative;
    flex-grow: 1;
    max-width: 140px;
    height: 14vh;
    box-shadow: 0px 0px 10px #000000;
    background: conic-gradient(from 0, #fffcfc 40deg, aqua 80deg, #cacaca 155deg, #27fdff 222deg, #2cffff 293deg, #ffffff 354deg);
  
  }

:root{
  --x:0deg;
  --myColor1:#000000;
}
.vertical-nav > li a{

    content: '';
    filter: drop-shadow(0px 0px 3px skyblue);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 108%;
    height: 108%;
    transition: 0.5s;
    transform: rotateZ(-50deg);
    background: conic-gradient(from 0, #00000000 0deg, #00000000 10deg, aqua 10deg, aqua 20deg, #00000000 20deg, #00000000 30deg, #ffffff 30deg, #ffffff 40deg, #00000000 40deg, #00000000 50deg, #ffffff 50deg, #ffffff 60deg, #00000000 60deg, #00000000 70deg, aqua 70deg, aqua 80deg, #00000000 80deg, #00000000 90deg, aqua 90deg, aqua 100deg, #00000000 100deg, #00000000 110deg, #ffffff 110deg, #ffffff 120deg, #00000000 120deg, #00000000 130deg, #ffffff 130deg, #ffffff 140deg, #00000000 140deg, #00000000 150deg, aqua 150deg, aqua 160deg, #00000000 160deg, #00000000 170deg, #ffffff 170deg, #ffffff 180deg, #00000000 180deg, #00000000 190deg, aqua 190deg, aqua 200deg, #00000000 200deg, #00000000 210deg, aqua 210deg, aqua 220deg, #00000000 220deg, #00000000 230deg, #ffffff 230deg, #ffffff 240deg, #00000000 240deg, #00000000 250deg, #ffffff 250deg, #ffffff 260deg, #00000000 260deg, #00000000 270deg, aqua 270deg, aqua 280deg, #00000000 280deg, #00000000 290deg, #ffffff 290deg, #ffffff 300deg, #00000000 300deg, #00000000 310deg, aqua 310deg, aqua 320deg, #00000000 320deg, #00000000 330deg, aqua 330deg, aqua 340deg, #00000000 340deg, #00000000 350deg, #ffffff 350deg, #ffffff 360deg);

}

@keyframes lightCircle {
  0%{transform: rotateZ(20deg);}
  20%{transform: rotateZ(100deg);}
  40%{transform: rotateZ(175deg);}
  60%{transform: rotateZ(200deg);}
  80%{transform: rotateZ(100deg);}
  100%{transform: rotateZ(-50deg);}
}
 
.vertical-nav li a {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  transition: all 0.2s ease;
}


.log-out{
  box-shadow: none;
  height: 5vh;
  width: 50vw;
  position: relative;
  bottom: -7.5vh;
  border-radius: 5rem;
  outline-offset: 5px;
  display: flex
;
  justify-content: center;
  align-items: center;
}
























/************************* midia********************


@media only screen and (max-height :700px){

  a ,a icon{
font-size:20px;
  }

.logo-container:before {
  
		width:    13vw;
	
	}

	#page-logo {
    top:      50%;left:50%;
		font: bold 2.5rem 'Arial', sans-serif;
    
	}

.heead{
box-shadow: 0px 0px 10px black;
    background: linear-gradient(0deg, black 22%, #72726d 111%);
    height: 17%;
    

}

}

**/


















/***********************************************/
/******************  400 -> 1200 ******************/
/*********************************************/














/* Colors */



/*.panel:nth-child(3) {
    --color: #ffa700;
}
*/
.inset{
  overflow-y: scroll;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
     background: radial-gradient(circle at 77% 9%, skyblue 21%, #00000000 23%), radial-gradient(circle at 15% 86%, #ffffff 19%, #232323 22%);
  bottom: 0px;
  min-height: 100vh;
  position: absolute;
  
}




.panels {
   padding-bottom: 38vw;
    position: relative;
    margin-top: 18vh;
    padding-top: 8vw;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    transform-style: preserve-3d;
    align-items: center;
}



    
.panel {
     filter: drop-shadow(0px 6px 8px #000000);
    height: 40vh;
    position: relative;
    width: 99vw;
    background: conic-gradient(from 61deg, #363636 60deg, #0f0f0f 84deg, transparent 84deg, transparent 154deg, #0f0f0f 154deg, #363636 171deg);
    max-width: 500px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 1s;
    z-index: 9999;
    perspective: 1000px;
}



/* ------------------------------------------ */



.cartBtn {
      transition: all 3s;
    z-index: 900;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 1.5vh;
    width: 9vh;
    border-bottom: 0.1px solid #1f1f1f;
    height: 9vh;
    background: radial-gradient(circle farthest-corner at 37px 15px, #ffffff, #98a4a7, #283334, #000000);
    border-radius: 50%;

}

.cartBtn2{
  display:flex;transform: translate(-39vw, 1vw);
}


.after {
  inset: -15px -15px;
  content: '';
  position: absolute;
  background: none;
  border-radius: 50%;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 5px rgb(0, 234, 255));
  
}

.after2{  animation: cart 2s ease-in 0s; }

@keyframes cart{
  0%{
   transform: rotateZ(180deg);
   inset:-15px -15px;
  }
  50%{
   transform: rotateZ(90deg);
   border-left: 2px solid rgb(0, 238, 255);
   border-right: 2px solid rgb(0, 255, 251);
   inset:-17px -17px;
  }
  75%{
    transform: rotateZ(180deg);
    border-left: 2px solid rgb(0, 234, 255);
    border-right: 2px solid rgb(0, 238, 255);
    inset:-17px -17px;
  }
  100%{
  transform: rotateZ(0deg);
  inset:-15px -15px;
  }
}

.animate{
  animation: 0.15s animate ease-in 0s;
}

@keyframes animate {
  0%{transform:matrix(1.47, 0, 0, 1.47, 0, 0);}
  25%{transform:matrix(1.87, 0, 0, 1.87, 0, 0);}
  50%{transform:matrix(2, 0, 0, 2, 0, 0);}
  75%{transform:matrix(1.67, 0, 0, 1.67, 0, 0);}
  100%{transform:matrix(1.37, 0, 0, 1.37, 0, 0);}
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-in;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transition: all 0.3s ;
}


.cart {
  transition: opacity 1s;
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  background: #ffffff75;
  height: 100%;
  width: 100%;
  z-index: 950;
  align-items: center;
  justify-content: center;
}

.pageTop {
  width: 95vw;
  height: 40vh;
  transform-origin: top;
  position: relative;
  top: 40.2vh;
  transform-style: preserve-3d;
  transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform : rotateX(180deg);
}
.pageTop2{ animation: translate 1s ease-in 0s; }

@keyframes translate{
0%{ transform : rotateX(0deg);}  100%{ transform : rotateX(180deg); }
}

.pageBottom {
  border-radius: 1rem;
  height: 40vh;
  width: 95vw;
  background: linear-gradient(180deg, black, #272727);
  border: 2px dotted black;
  border-top: none;
  border-bottom: none;
  box-shadow: 0px 5px 15px black;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.cartFront, .cartBack {
border-radius: 1rem; position: absolute; width: 100%; height: 100%; display: flex; justify-content: center;
}

.itemFlex {
   width: 100%; align-items: center; display: flex; justify-content: center; padding: 10px 0px;
}
.itemFlex span {
  justify-content: center;align-items: center;display: flex;width: 20%;font-size: 12px;text-align: center;
}


.cartItem {
  color: wheat;
  height: 160%;
  background: transparent;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}

.display{ display:flex; }









.priceAll {
  width: 100%;
  height: 6vh;
  color: rgb(179, 241, 245);
  background: repeating-linear-gradient(45deg, #50554f, #606060 28px);
  box-shadow: inset 1px 3px 5px black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0px 0px 5px rgba(102, 247, 255, 0.862);
}

.buttonBottom {
  display: flex;align-items: center;justify-content: space-evenly;width: 100%;
}

.backword {
  padding: 10px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #3a3a3a;
    text-shadow: 0px 0px 3px #3c3c3c;
    background: linear-gradient(0deg, #92feff, #fffef9);
    width: 50%;
    border: none;
  border-end-start-radius: 1rem;
}

.next {
 padding: 10px 0px;
    font-weight: bold;
    font-size: 15px;
    color: #3a3a3a;
    text-shadow: 0px 0px 3px #3c3c3c;
    background: linear-gradient(0deg, #92feff, #fffef9);
    width: 50%;
    border: none;
    border-end-end-radius: 1rem;
}



.myB{
width: 4vw;
  height: 4vh;
  border-radius: 5rem;
  background: #b5b4b4;
  transform: translateX(60%);
  transition: 1s;
}

/* ------------------------------------------------------ */




.cartFront , .cartBack{
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cartFront{
  z-index: 1;
  backface-visibility: hidden;
  background: linear-gradient(90deg, black, #1b1b1b);
}

.cartBack{
  box-shadow: 0px -2px 12px black;
  border: 2px dotted #000000;
  border-bottom: none;
  border-top: none;
  background: linear-gradient(0deg, black, #272727);
  transform: rotateX(180deg);
}

/* ------------------------------------------- */


.itemFlex{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}



/* for cart first open */
.itemFlex p{
  padding: 0px 7%;
  justify-content: end;
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #a8a7a7;
  text-shadow: 0px 0px 5px #ff0000;
}


.itemFlex input{
  width: 0px;
  display: none;
}

.itemFlex .input{ 
 padding: 15px;
    width: 90%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, black, #025852);
    color: #ffffff;
    border-radius: 3rem;
    border: 3px dotted skyblue;
    box-shadow: 0px 0px 4px skyblue;
}

.span2{
 color: rgb(255 255 255);
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 90%;
    font-size: 13px;
    text-align: center;
    background: gray;
    box-shadow: inset 3px 2px 5px black, inset -3px -2px 5px #9b9999;
    border-radius: 2rem;
    padding: 5px 0px;
}

.fatora{
  left: 5px;
  position: absolute;
  border-radius: 0.5rem;
  height: 85%;
  width: 50%;
     color: #afafaf;
    font-size: 14px;
    text-shadow: 1px 1px 2px #3a3a3a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}




.itemFlex span {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  font-size: 12px;
  text-align: center;
}

.itemFlex label{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0px 15px;
  width: 20vh;
  color: #938e8e;
  padding: 3px 0px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #585555;
  border-radius: 2rem;
  outline: 3px solid rgb(126, 226, 219);
  outline-offset: 9px;
  outline-style: solid;
  filter: drop-shadow(0px 0px 2px gray);

}
.hoverPlace{
  background: #aafcfd;
    box-shadow: 0px 0px 3px #6ff7ff;
  color: black;
  text-shadow: 0px 0px 2px black;
}

.inputP{
  color: #000000;
  background: repeating-linear-gradient(90deg, white, #9d9d9d 10px);
  text-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 7px #e0e0e0;
  border-radius: 0.8rem;
  width: 90%;
}




.itemFlex textarea {
  display: flex;
      width: 90%;
      padding: 5px 6px 0px 0px;
      font-size: 11px;
      min-height: 6vh;
      border-radius: 0.9rem;
      background: #e1ede5;
      color: black;
      box-shadow: 0px 0px 6px rgb(80, 216, 216);
      border: 2px solid #77dddb;
      box-sizing: border-box;
}
/* -------------------------------------------- */



/* -------------------------------------------- */
.errSolve{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #ff6c6c;
    position: relative;
    text-align: center;
    background: linear-gradient(0deg, #000000, #445c54b5);
    font-size: 14px;
    padding: 10px;
}

.fixL{
  background: #00000061;
    color: green;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0px 5vw;
    border: .5px solid green;
    outline: .1px solid #494949;
    outline-offset: 2px;
}
.GPS{
    width: 90%;
    background: #00000061;
    color: #747474;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1vh 3vw;
    border: .5px solid #008078;
    outline: .1px solid #393939;
    outline-offset: 2px;
    
}

.instruction{
    z-index: 990;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.errSolve2{
  border-radius: 1rem;
  position: absolute;
  height: 25%;
  top: 35vh;
  background: linear-gradient(0deg, #151515, #895c4b);
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  color: #ff3100;
}

.editDEL{
  background: #191919;
  color: rgb(255 0 0);
  height: 13%;
  position: absolute;
  top: -29px;
  display: flex;
  width: 56%;
  border-radius: 1rem;
  justify-content: space-evenly;
}


.delItemHolder{
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, black, #545252);
  display: flex;
  justify-content: space-around;
  color: #ff8080;
  height: 35px;
  border-radius: 3rem;
  z-index: 990;
  text-shadow: 0px 0px 3px red;
}


/* ------------------- */




.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* --------------------------- */
.shake2 {
  animation: shake2 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake2 {
  10%,
  90% {
    transform: translate3d(0, 3px, 0);
  }

  20%,
  60%
   {
    transform: translate3d(0, 2px, 0);
  }
 
  30%,
  40%,
  50%,
  70% {
    transform: translate3d(0, -3px, 0);
  }
}






/* ----------slide-fade-------------- */
/* we will explain what these classes do next! */
/* we will explain what these classes do next! */
/* .slide-fade-enter-active {
  transition: all 0.1s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-45px);
  opacity: 0;
  transition: all 0.1s ;
} */

/* --------------list----------------- */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
/* 
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
*/
.before{

  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  transition: all 2s;
  max-width: 505px;
  height: 35px;
  z-index: -65;
  text-align: center;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  display: flex
;
  position: absolute;
  bottom: 0px;
  width: 27%;
  background: #191919;
 }


.page2 {
 position: static;
    z-index: 888;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    height: 80%;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(0deg, black, #46463d);
}
/* 88888888888 */


.imgDiv {
     top: 0;
    position: absolute;
    height: calc(100% - 10.2vh);
    width: 100%;
    background: linear-gradient(200deg, black -2%, #00000000, #ffffff00), linear-gradient(0deg, #000000 -90% -50%, transparent, transparent);
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
}




.holderCount{
  color: skyblue;
  width: 100%;
  height: 5.5vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5.1vh;
  justify-content: center;
  align-items: center;
  background: conic-gradient(from 135deg at 33%, #191919 3deg, #191919 270deg, #00000000 0deg), conic-gradient(from 135.1deg at 33.5%, skyblue 4deg, skyblue 269deg, #00000000 -7deg), conic-gradient(from 135deg at 34%, #191919 0deg, #191919 270deg, #00000000 3deg), conic-gradient(from 315deg at 66.5%, #cc000000 0deg, #cc000000 270deg, #808067 35deg), conic-gradient(from -46deg at 67%, #ffffff00 0deg, #ffffff00 271deg, #191919 -8deg), conic-gradient(from -45deg at 67.5%, #191919 -11deg, #191919 270deg, skyblue -8deg); border-bottom: 0.1px solid skyblue;
  box-shadow: inset #000000 3px 5px 15px, inset #000000 -3px 2px 5px;
}

.plusMinus{
  position: absolute;
  bottom: 0.7vh;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 11vw;
  color: skyblue;
  text-shadow: 0px 0px 4px skyblue;
  font-size: 3vh;
  font-weight: 900;
  -webkit-text-stroke-width: 3px;
}

img{
  user-select: none;
  pointer-events: none;
  transition: all 0.175s;
}

@keyframes btn{
  0%{width: 50%;}
  50%{width: 66%;}
  100%{width: 50%;}

}

.centerPM{
    transition: all 0.175s;
    font-size: 10.5px;
    width: 50%;
    color: #ffffff;
    text-shadow: 1px 3px 3px #000000;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}


.postText{
    position: absolute;
    right: 35px;
    top: 55px;
    color: #93e3cf;
    text-shadow: 0px 0px 3px #95fff869;
    z-index: 1;
    font-size: 13px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.postSame{
    position: relative;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}


.postSame div{
  border: 2px dashed skyblue;
    text-shadow: 0px 0px 1px #ffffff;
    letter-spacing: 1px;
    border-radius: 1rem;
    color: #d9d5b1;
    font-size: calc(1vw + 9px);
    background: #005c5a85;
    padding: 2px calc(2vw + 3px) 2px calc(2vw + 3px);
}





.titlee{
   top: 12px;
    right: 20px;
    position: absolute;
    color: #f9cbff;
    text-shadow: 0px 0px 3px #b28fbc;
    font-size: 24px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}









/*****************************************************/
.imgg {
  user-select: none;
  pointer-events: none;
  z-index: -2;
  box-shadow: 0px 0px 3px black;
  align-items: center;
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}


img{
  user-select: none;
  pointer-events: none;
}

  .callx4{
    height: 44px;
    right: 25px;
    width: 44px;
    font-size: 31px;
  }





.page2 .h1last-child{
  margin-bottom:30px;
}
  
 
/*****************************************************/

.commenter{
  z-index: 9990;
  bottom: 110px;
  left: 10%;
  background: linear-gradient(180deg, #434343, #0e0e0e);
  height: auto;
  box-shadow: -1px -3px 5px #585656, 1px 3px 6px #000000;
  border-radius: 2rem;
  backdrop-filter: blur(6px);
  color: #fff;
  position: fixed;
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.commenter .come{
  margin-top: 70px;
    display: flex;
    align-items: center;
}

/************************************************************/


.lable {
    display:none;
    right: 0;
    left: 0;
    background: linear-gradient(1deg, black, #0a5c47b8);
    box-shadow: 0px -9px 23px #595c5cc9, 0px 16px 27px #000000, 0px 8px 9px #000000, 0px 7px 10px #222121;
    z-index: 7;
    line-height: 8vh;
    position: relative;
    height: 9vh;
    padding: 0px;
    /* margin-bottom: 3.5vh; */
    font-weight: bold;
    flex-wrap: wrap;
    /* display: flex; */
    flex-direction: row;
 
  
  } 
	
.lable a{
   letter-spacing: 2px;
    text-shadow: 0px 0px 5px white;
    text-align: center;
    width: 20vw;
    line-height: 9vh;
    position: relative;
    font-size: 1.3rem;
    color: white;
    
	
	
} 
.lable a:hover {
 color: skyblue;
}
.lable a:first-child{
    text-shadow: 0px 0px 2px black;
    line-height: 2vh;
    height: 4vh;
    font-size: 2.3rem;
    color: #7c0404;

} 

/********************************************************************/







.callx{
    right: -3px;
    top  : 4px;
    position: absolute;
    text-shadow: 0px 0px 3px black;
    text-align: center;
    width: 20vw;
    font-size: 10vw;
    color: #ba0404;
}


.callx2{
  top: 3px;
  position: absolute;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 2rem;
  border: 2px dotted red;
  align-items: center;
  display: flex
;
  justify-content: center;
  box-shadow: 0px 0px 5px #1a1919, inset 0px 0px 6px #6a6a6a, 0px 0px 3px black;
  text-align: center;
  color: #ff9f9f;
  z-index: 999;
}









.lable > div{
    justify-content: space-around;
    display: flex;
    width: 60vw;
    position: relative;

}




















.searcher {
  
  position: relative;
   
 } 

  .search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 1s;
    left: 5px;
    position: relative;
    z-index: 9;
    } 
    
    .search2 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all 1s;
      position: relative;
      color: skyblue;
      text-shadow: 0px 0px 3px skyblue;
      font-size: 16px;
      display: flex;
      z-index: 9;
      justify-content: center;
      align-items: center;
     } 

     

   .search:before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 8px;
      height: 2px;
      background: skyblue;
      transform: rotate(45deg);
      transition: all .5s;
    }
   .search:after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid skyblue;
      transition: all .5s;
    }

.inputtext {
  top: 5px;
  font-size: 11px;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  left: 5px;
  outline: none;
  height: 40px;
  outline: none;
  border: none;
  background:linear-gradient(45deg, #37aaa759, #62626200);
  color: #ffffff;
  padding: 0 10px 0 20px;
  border-radius: 10px;
  transition: all 1s;
  opacity: 0;
  bottom: 3px;
  font-weight: bolder;
  letter-spacing: 0.1em;
    } 


      input:before {
        top: 0;
        left: 0;
        width: 25px;
      }
      .inputtext:after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    
    .inputtext:placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }


/************************************************************/

.site{
font-size: 12.3px;
    color: #fbfbfb;
    text-shadow: 0px 0px 2px #cacaca, 0px 0px 4px #6a0000, 0px 0px 3px #ff0000;
}
.light{
font-size: 12.3px;
    text-align: right;
    width: 100%;
    text-shadow: 0px 0px 2px #828181, 0px 0px 3px #fbfbff, 0px 1px 8px #48e8cd;
    color: #fcfdff;
}

.lightH{
padding: 0px 11px 15px 0px;
    position: absolute;
    width: 54%;
    height: 40px;
    right: 0px;
    gap: 5px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

}




.fas fa-angle-right , .fas fa-angle-left{ 
    top: 30%;
    opacity: 0.5;
    font-size: 31px;
    position: absolute;
    color: #000000;

}

.xlight{
    color: #f4f2ed;
    position: absolute;
    background: red;
    top: -20px;
    width: 30px;
    font-size: 19px;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    text-shadow: 0px 0px 2px white;
    box-shadow: 0px 0px 2px red;
}

.refre{
  align-items: center;
  justify-content: center;
  display: flex
;
  text-align: center;
  height: 28px;
  width: 28px;
  background: linear-gradient(-8deg, black, #fbf9f9);
  border-radius: 50%;
  left: 5px;
  position: absolute;
}

.star{
  z-index: 1;
  height: 85%;
  max-width: 550px;
}



/***********************************************/
/******************  1200 ->  ******************/
/*********************************************/


